@font-face {
    font-family: vazir;
    src: url(/assets/Font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff) format('woff');
    src: url(/assets/Font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff2) format('woff2');
}

body {
    font-family: vazir;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, red, green, black);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    direction: rtl;

}

nav {
    background-color: goldenrod;
    width: 100vw;
    height: 50px;
    padding-top: 10px;


}

ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0 10px 0 0;


}

img {
    width: 90px;
    vertical-align: middle;
}

li {
    padding: 0 10px 0 10px;
    display: inline-block;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-family: vazir;
    color: snow;

}

input {
    width: 210px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin: 0 15px 0 0;

}

input::placeholder {
    font-size: 15px;
    padding: 0 5px 0 0;
    

}

input:focus {
    outline: none;
}

a:hover {
    
    transition: all 1.6s;
    text-decoration-line: overline;
    text-decoration-color: green;
    padding: 0 10px 0 10px;

}

a:active {
    background-color: blue;
}

a:focus {
    background-color: olivedrab;

}

a:visited {
    background-color: rgb(0, 255, 234);

}

.box1{
    background-color: yellow;
    width: 300px;
    height: 300px;
    position: relative;
    right: 50px;
    top: 200px;
}

.box2{    
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 400px;
    bottom: 400px;
}
.box3{    
    background-color: red;
    width: 300px;
    height: 300px;
    
}

@media (max-width: 400px) {
    
    li {
        width: 100%;
        text-align: center;
        
    }
    a {
        width: 100px;
        height: 30px;
    }
    
}