@font-face {
    font-family: vazir;
    src: url(/assets/Font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff) format('woff');
    src: url(/assets/Font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff2) format('woff2');
}

body {
    font-family: vazir;
    box-sizing: border-box;
    background-color: brown;
    margin: 0;
    padding: 0;
    direction: rtl;
}
  nav{
    background-color: goldenrod;
    width: 100vw;
    height: 50px;
    padding-top: 10px;


  }
  ul{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0 10px 0 0;

    
  }
  img{
    width: 90px;
    vertical-align: middle;
  }
  li{
    padding: 0 10px 0 10px;
    display: inline-block;
  }
  a{
    text-decoration: none;
    font-size: 20px;
    font-family: vazir;
    color: snow;
    
  }
  input{
    width: 210px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin: 0 15px 0 0;
    
  }
  input::placeholder{
    font-size: 15px;
    padding: 0 5px 0 0;
    
  }
  a:hover{
       
        transition: all 1.5s;
        background-color: rgb(206, 203, 26);
        border-radius: 10px;
        padding: 0 10px 0 10px;
    }
    a:active{
        background-color: blue;
    }
    a:focus{
        background-color: olivedrab;
        
    }
    a:visited{
        background-color: rgb(0, 255, 234);
        
    }
          
