@font-face {
    font-family: vazir;
    src: url(/assets/Font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff) format('woff');
    src: url(/assets/Font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff2) format('woff2');
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.div1 {
    background-color: gray;
    width: 40%;
    height: 100%;
    display: inline-block;
    padding: 0 5px 0 5px;
}

h1 {
    display: flex;
    flex-direction: row;
}

p {
    text-align: justify;
    
    
}

ul {
    padding: 0;
    margin: 0;
    gap: 10px;
    width: 50%;
    height: 100%;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    

}

li {
    
    display: inline-block;
    border: 1px solid white;
    width: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
    
    
}
li:hover {
    background-color: rgba(243, 229, 229, 0.253);
    cursor: pointer;
}
li:focus {
    background-color: rgba(245, 245, 245, 0.37);
    cursor: pointer;
}