@font-face {
    font-family: vazir;
    src: url(/assets/Font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff);
    src: url(/assets/Font/persianFont/vazir-font-v18.0.0/Vazir-Bold.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
    font-family: vazir;
    text-align: center;
    padding: 8rem 0 0 0;
    
}
section{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: inline-block;
    background-color: white;
    
}
h1 , h3{
         display: flex;
        flex-direction: row-reverse;
        padding: 0 5px 0 0;   
}
span{
    color: red;
}